@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');
@import './reset';
@import '../../components/Header/header';
@import '../../components/Home/home';
@import '../../components/About/about';
@import '../../components/Projects/projects';
@import '../../components/Contact/contact';
@import '../../components/Footer/footer';

:root {
	--text-color: #eaeaea;
	--bg-color: #1d1f20;
	--main-color: #06afbd;
	--active-color: #01ccdd;
	--transition-duration: 0.3s;
	--container-width: 1200px;
	--animate-duration: 1.5s;
}

* {
	color: var(--text-color);
}

html {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(
		90deg,
		#07034d 0%,
		#2c1a80 35%,
		#01ccdd 100%
	);
	overflow-x: hidden;
}

@media screen and (max-width: 900px) {
	body.scroll {
		overflow-y: hidden;
	}
}

section {
	min-height: 100vh;
	height: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.container {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 2rem;
	width: 100%;
	height: 100%;
}

* {
	scrollbar-width: auto;
	scrollbar-color: var(--main-color) #f7f5f7;
}

*::-webkit-scrollbar {
	width: 14px;
}

*::-webkit-scrollbar-track {
	background: #000000d4;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 16px;
}
